.teste {
	margin: 10px 0;
	font: 900 90px/100px "Helvetica Neue", Helvetica, Arial, sans-serif;
	letter-spacing: -2px;
}

.teste2 {
	font-size: 22px;
	font-weight: 700;
	color: rgba(52, 73, 94, .3);
	letter-spacing: 0;
}

.teste3 {
	background-color: white !important;
}

.ui-datascroller-header{
	background-color: #e5e9ea;
}

.ui-datatable-header{
	background-color: #e5e9ea;
}